body{
  overflow: scroll;
background-color: rgba(197, 217, 195, 0.5);

}
.head1{
  background-color: rgba(32, 41, 110,0.5);
  width: auto;
height: auto;
display: flex;
flex-direction: row-reverse;
justify-content: space-around;
border-left:2px solid #cc0033;
}
.head1 a{
  text-decoration: none;
  display: flex;
font-family: 'Righteous', cursive;
font-size: 30px;
  color: black;
  flex-direction: row;
  justify-content: space-around;
}
.head1 a:hover{
  text-shadow: 4px  4px #764087;
}
.head1:hover{
  box-shadow: 6px 6px black;

}
.logo img{
  height: 70px;
  width: 70px;
}
.logo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: auto;
  height: auto;
  background-color: #828a55;
    font-family: 'Righteous', cursive;
    border-left:2px solid #502878;

}
.logo input{
  border: 3px solid yellow;
  border-radius: 20px;
  font-family: 'Righteous', cursive;
}
.logo button{
    font-family: 'Righteous', cursive;
      border: 4px solid black;
      border-radius: 1px;
}
.logo:hover{
  text-shadow: 2px 2px #764087;
  box-shadow: 6px 6px black;
}
.logo p{
  font-size: 20px;
}
.logo img[src="ic1.png"]{
  width: 25px;
  height: 25px;
}

.dropout {
  display: none;
}
.con3:hover .dropout{
  display:block;
  box-shadow: 4px 4px white;
}
.con3 p{
  font-family: 'Righteous', cursive;
  font-size: 20px;
}
.con3 p{
border: 3px solid #5c2a27;
border-radius: 7px;
color: #f0e2e1;
background-color: black;
}
.but1 {
  display: none;

}
.price1:hover .but1 {
  display: block;
  background-color: black;
  border: 6px solid white;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  width: auto;
  height: auto;
    box-shadow: 4px 4px black;
}
.but2{
  display: none;
}
.but3{
    display: none;
}
.but4{
    display: none;
}
.ship1:hover .but2 {
  display: block;
  background-color: black;
  border: 6px solid white;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  width: auto;
  height: auto;
    box-shadow: 4px 4px black;
}
.ord1:hover .but3 {
  display: block;
  background-color: black;
  border: 6px solid white;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  width: auto;
  height: auto;
    box-shadow: 4px 4px black;
}
.about1:hover .but4 {
  display: block;
  background-color: black;
  border: 6px solid white;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  width: auto;
  height: auto;
  box-shadow: 4px 4px black;
}
.men1{
  display: none;
}
.bask:hover .men1{
  display: block;
}
.bask button{
  width: auto;
  height: auto;
}
.components {
  display: flex;
justify-content: space-around;
font-family: 'Righteous', cursive;
font-size: 20px;
border: 4px solid black;

border-left:2px solid #b68ede;

}
.components:hover{
  box-shadow: 6px 6px black;
}
.tol1{
  display: none;
}
.mat1{
  display: none;
}
.com1{
  display: none;
}
.elec:hover .com1{
  display:block;
}
.tools:hover .tol1{
  display:block;
}
.material:hover .mat1{
  display:block;
}
.components a:hover{
  border: 4px solid green;
  border-radius: 7px;
  background-color: red;
}
.img1{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.radio1 {
  display: flex;
  justify-content: center;

}
.news{
  display: flex;
justify-content: flex-start;
font-family: 'Righteous', cursive;
font-size: 20px;
}
.news a:hover{
  background-color: #bfbcb4;
}
.news1{
  display: none;
font-family: 'Righteous', cursive;
font-size: 20px;
}
.news:hover .news1{
  display: flex;
justify-content: flex-start;
  text-shadow: 1px 1px #7db379;
}
.line1 {
  margin-top: 16%;
  display: flex;
justify-content: flex-start;

  font-family: 'Righteous', cursive;
  font-size: 20px;
}
.line1:hover{
    text-shadow: 1px 1px white;
}
.transistor{
  display: flex;
  justify-content: flex-start;
  font-family: 'Righteous', cursive;
  font-size: 20px;
border: 3px solid #e0d7d7;
}
.transistor img{
  width: 100px;
  height: 100px;
}
.transistor p{
    transform: rotate(90deg);
}
.goods1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
