body{
  overflow: scroll;
background-color: rgba(197, 217, 195, 0.5);
margin: 0;
padding: 0;
text-decoration: none;
}
*{
  box-sizing: border-box;
}
.head1{
  background-color: rgba(32, 41, 110,0.5);
  width: auto;
height: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr   ;
border-left:2px solid #cc0033;

}

.head1 a{
  text-decoration: none;
  display: flex;
font-family: 'Righteous', cursive;
font-size: 30px;
  color: black;
  flex-direction: row;
  justify-content: space-around;
}
.head1 a:hover{
  text-shadow: 4px  4px 4px #764087;
    animation: move 0.25s ease-in-out;
cursor: pointer;
}

.head1:hover{
  box-shadow: 6px 6px black;
    animation: move 1s ease-in-out;
    cursor: pointer;
}
.logo img{
  height: 70px;
  width: 70px;
}
.logo{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: auto;
  height: auto;
  background-color: #828a55;
    font-family: 'Righteous', cursive;
    border-left:2px solid #502878;
margin-top: 1.9%;
}
.logo input{
  border: 3px solid yellow;
  border-radius: 20px;
  font-family: 'Righteous', cursive;
}
.logo button{
    font-family: 'Righteous', cursive;
      border: 4px solid black;
      border-radius: 1px;
}
.logo:hover{

  box-shadow: 6px 6px black;
}

.p78{
  border: 4px solid black;
  background-color: yellow;
      text-shadow: 2px 2px  3px #764087;
}
.p79:hover{
      text-shadow: 2px 2px  3px #764087;
}
.logo p{
  font-size: 20px;
}
.pers1{
  display: none;
}
.pers1 :hover {
  text-shadow: 4px 4px 3px purple;
}
 .pers:hover .pers1{

display: grid;
grid-template-columns: 1fr 1fr;
position: absolute;
grid-gap: 10px;
margin-top: 25px;


}
.pers{
  display: flex;
  flex-direction: row;
}

.logo img[src="ic1.png"]{
  width: 25px;
  height: 25px;
}

.dropout {
  display: none;
}
.con3:hover .dropout{
  display:block;
  box-shadow: 4px 4px white;
position: absolute;

}
.con3:hover .but5{
  display:block;
  display: block;
  background-color: white;
  border: 6px solid white;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  width: auto;
  height: auto;
    box-shadow: 4px 4px black;
      animation: move 1s ease-in-out;
      position: absolute;


}
.con3 p{
  font-family: 'Righteous', cursive;
  font-size: 20px;
}
.con3 p{
border: 3px solid #5c2a27;
border-radius: 7px;
color: #f0e2e1;
background-color: black;
}

.men1{
  display: none;
}
.bask:hover .men1{
  display: block;
  animation: move 1s ease-in-out;
  position: absolute;
}
.bask button{
  width: auto;
  height: auto;
}

.components {
display: grid;
position: absolute;
width: 100%;
grid-template-columns: 1fr 1fr 1fr;
background-color: white;
grid-gap: 10px;
font-family: 'Righteous', cursive;
font-size: 20px;
border: 4px solid black;
border-left:2px solid #b68ede;

}

.components div {
  text-align: center;
}

.components:hover{
  box-shadow: 6px 6px black;
}

@keyframes move {
  from {
    opacity: 0;
    },
  to {
    opacity: 1;
  }
}

.tol1{
  display: none;
  animation: move 2s ease-in-out;
}
.mat1{
  display: none;
}
.com1{
  display: none;
}
.elec:hover .com1{
  display:block;
}
.tools:hover .tol1{
  display:block;

}
.material:hover .mat1{
  display:block;
}
.components a:hover{
  border: 4px solid green;
  border-radius: 7px;
  background-color: red;
}
.img1{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.radio1 {
  display: flex;
  justify-content: center;

}
.news{
  display: flex;
justify-content: flex-start;
font-family: 'Righteous', cursive;
font-size: 20px;
}
.news a:hover{
  background-color: #bfbcb4;
    cursor: pointer;
}
.news1{
  display: none;
font-family: 'Righteous', cursive;
font-size: 20px;
display: flex;
justify-content: flex-start;
text-shadow: 1px 1px #7db379;
}
.news1:hover{
  cursor: pointer;
  background-color: #bfbcb4;
}
.Popular:hover{
    background-color: #bfbcb4;
}
.line1 {
  margin-top: 16%;
  display: flex;
justify-content: flex-start;

  font-family: 'Righteous', cursive;
  font-size: 20px;
}
.line1:hover{
      cursor: pointer;
        background-color: #bfbcb4;
}
.goods1{
  display: flex;
  justify-content: flex-start;
  font-family: 'Righteous', cursive;
  font-size: 20px;
border: 3px solid black;
}
.goods1 ul , .goods1 li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.goods1 li{
  display: inline-block;
  width: 300px;
  position: relative;
}

.ul2 img{
  width: 100px;
  height: 100px;





}

.ul2 img:hover {


    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 0.5;

}

.text2{
  position: sticky;
cursor: pointer;
padding-top: 80px;
text-align: center;



}
.ul2 img{
  display: flex;
}
.ul2 button{
  font-family: 'Righteous', cursive;
  font-size: 20px;
  width: 100px;
}
.goods1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.components:hover{
  animation: move 1s  ease-in-out;
  cursor: pointer;
}
.line3{
  font-family: 'Righteous', cursive;
  font-size: 20px;
  margin-top: 2.5%;
}
@media only screen and (max-width:1024px)  {
#l1{
  width: 100%;

}
.line1{
  margin-top: 50%;
}
.foot4{
  margin-top: 2.5%;
}
.pers5{
  margin-left: 10%;
}
.additionally{
  margin-left: 10%;
}
.help{
  margin-left: 10%;
}
.ship1{
    margin-left: 25%;
}
.head1{
  font-size: 15px;
}

}
.newgoods {
  display: flex;
justify-content: space-between;
flex-direction: row;


}
.good img{
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 100px;
  flex-direction: row;

}
.good {
  list-style:none;
  display: flex;
  flex-direction: row-reverse;
}
.butn4{
  margin-right: 90%;
  font-family: 'Righteous', cursive;
  font-size: 20px;

}
.good{
  background-color: #fc9;
}


@media only screen and (min-width:1450px){
  #l1{
    width: 100%;

  }
  .line1{
    margin-top:50%;
  }

}
@media only screen and (min-width:1900px){
  #l1{
    width: 100%;

  }
  .line1{
    margin-top: 18%;

  }

}
@media only screen and (min-width:2400px){
  #l1{
    width: 100%;

  }
  .line1{
    margin-top: 12%;
  }
.butn4{
  margin-right: 96%
}
}
@media only screen and (min-width:3500px){
  #l1{
    width: 100%;

  }
  .line1{
    margin-top: 6%;
  }

}
.foot4{
  display: flex;
  justify-content: space-between;
  font-family: 'Righteous', cursive;
background-color: #b5abaa;


}
.foot4 p{
    font-size: 30px;
}
.foot4 p:hover{
  text-shadow: 3px 3px green;
}
.foot4 a:hover{
    text-shadow: 3px 3px green;
}
.foot4 a{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.foot4 h3{
  display: flex;
 flex-direction: column;
 justify-content: flex-end;
}
.foot4 h3:hover{
    text-shadow: 3px 3px yellow;
}
.butn5{
  display: flex;
  flex-direction: column;

}
@media only screen and (min-width:1025px){
  #l1{
    width: 100%;

  }
  .line1{
    margin-top: 35%;
  }
.goods1{
  margin-top: 5%;
}
.Popular{
    margin-top: 0.5%;
}
.foot4 .pers5{
  margin-left: 15%;
}
.foot4 .additionally{
    margin-left: 15%;
}
.foot4 .help{
      margin-left: 15%;

}
.h6{
  margin-left: 3%;
}
@media only screen and (min-width:1300px){
  .line1{
    margin-top: 23%;
  }
}

*{
    box-sizing: border-box;
}
}
