.head1{
  background-color: rgba(32, 41, 110,1);
  width: auto;
height: auto;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr     ;
border-left:2px solid #cc0033;

}
.head1 a{
  text-decoration: none;
  display: flex;
font-family: 'Righteous', cursive;
font-size: 30px;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  text-shadow: 5px 5px   black;
}
.head1 a:hover{
  text-shadow: 4px  4px 4px #764087;
    animation: move 2s ease-in-out;
cursor: pointer;
}

.head1:hover{
  box-shadow: 6px 6px  black;
    animation: move 1s ease-in-out;
    cursor: pointer;
}

.contc1{
  display: flex;
    font-family: 'Righteous', cursive;
  background-image: url("67.jpg");
  justify-content: flex-start;
flex-direction: column;
border: 6px solid black;
width: 400px;
padding-left: 3%;
color:white;
    text-shadow: 3px 3px black;

}
.contc1 h4{
  font-size: 20px;


}
.contc1 p{
  font-size: 35px;

}


body{
  padding: 0;
  margin: 0;
background-color: #856b69;

}
*{
  box-sizing: border-box;
}
